/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    padding-top: 125px;
    padding-right: 200px;
    padding-left: 200px;
}

.Input [type=text] {
    width: 60%;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.content{
    margin-top: 50px;
}

.map{
    float: right;
}

#bus_info{
    width: 450px;
    height: 300px;
    float: left;
}

.clean{
    clear: both;
}

.change{
    margin-top: 10px;
    background: rgb(86, 86, 204);
    border-radius: 25px;
    text-align: center;
    min-width: 100px;
    padding: 10px;
    display: inline-block;
}


.search{
    background: rgb(86, 86, 204);
    border-radius: 25px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    padding: 10px;
}

.search a{
    text-decoration: none;
    color: white;
}

#datalist{
    text-align: center;
}

.header{
    margin: 0 auto;
    padding-left:150px
}

#stop_info{ 
}

table{
    text-align: center;
    }

.table_order{
    background: rgb(0, 120, 218);
}

.table_bus{
    background: rgb(0, 120, 218);
}

.table_arrive{
    background: rgb(0, 120, 218);
}

.table_tr{
    
}

.table_div1{
    background: rgb(83, 163, 228);
}

.table_div0{
    background: rgb(75, 158, 226);
}

td a{
    text-decoration: none;
    color:black
}


@media(max-width: 768px){

    .header{
        margin: 0 auto;
        padding-left:0px;
    }
    .Input {       
        width: 500px;
    }

    content{
        width: 150px;
        margin: 0 auto;
    } 

    .map {
        max-width: 500px;
        margin: 0 auto;
    
    }

}
  
  
  
